@{
    ViewData["Title"] = "Home Page";
}

<div class="">
   <h2><a asp-controller="Categories" asp-action="Index">Vehicle Type List</a></h2> <br />
   <h2><a asp-controller="Cars" asp-action="Index">Vehicle List</a></h2>
</div>
